{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- favicon tags -->
        <link rel="shortcut icon" type="image/png" href="{% static 'auctions/favicon/frog.png' %}">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Open+Sans&display=swap" rel="stylesheet">

        <title>{% block title %}Froaugctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    </head>
    <body>
    <div class="custom-head">
         
        <h1><img class="custom-logo" src="{% static 'auctions/favicon/frog.png' %}"> Froaugctions <img class="custom-logo" src="{% static 'auctions/favicon/judge.png' %}"> </h1>
        
        <div style="padding-left: 1rem;">
            {% if user.is_authenticated %}
                Signed in as <strong>{{ user.username }}</strong>.
            {% else %}
                Not signed in.
            {% endif %}
            <a href="http://127.0.0.1:8000/admin/">(temporary link to /admin for convenience)</a>
        </div>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'category' %}">Browse per Category</a>
            </li>

            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'new' %}">Create Listing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'watchlist' %}">My Watchlist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="custom-main {% block main-color %}{% endblock %}">
        {% block body %}
        {% endblock %}
    </div>
    </body>
</html>
